*.pyc
*.log*
*.coyote.*
*.captable
*.db
*.lib
*Milkyway.*
*rtk-tech.lef.*
*.tf
*.sum
*stdcells.lef.defineVarRoute.tcl
*stdcells.mwlib*
*.lef
*.cdl
*.spi
*.v
work
skywater-130nm/view-standard/magicrc

skywater-130nm/view-standard/netgen-setup.tcl

skywater-130nm/view-standard/sky130A.tech

skywater-130nm/view-standard/sky130A_magic.tcl

skywater-130nm/view-standard/stdcells.gds
