*.pyc
*.log*
*.coyote.*
*.captable
*.db
*.lib
*Milkyway.*
*rtk-tech.lef.*
*.tf
*.sum
*stdcells.lef.defineVarRoute.tcl
*stdcells.mwlib*
*.lef
*.cdl
*.spi
*.v
work
view-standard/magicrc

view-standard/netgen-setup.tcl

view-standard/sky130A.tech

view-standard/sky130A_magic.tcl

view-standard/stdcells.gds
