*.pyc
*.log*
*.coyote.*
*.captable
*.db
*.lib
*Milkyway.*
*rtk-tech.lef.*
*.tf
*.sum
*stdcells.lef.defineVarRoute.tcl
*stdcells.mwlib*
*.lef
*.cdl
*.spi
*.v
work
ADK/view-standard/magicrc

ADK/view-standard/netgen-setup.tcl

ADK/view-standard/sky130A.tech

ADK/view-standard/sky130A_magic.tcl

ADK/view-standard/stdcells.gds
